<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-inner-text"> At KSA Training Ltd, we have a simple mission: "To make e-learning free,
                    fun, and inspirational". <br/> We are: <a href="https://www.managetrainlearn.com/" target="_blank">MTL for slides</a> &nbsp;
                    <a href="https://www.snippizz.com/" target="_blank">Snippizz for videos</a>&nbsp;<a href="https://www.kwizzers.com/" target="_blank">Kwizzers for games</a>
                    &nbsp;<a href="https://www.thesoftskillsquiz.com/" target="_blank">The Soft Skills Quiz for quizzes</a> 
                    &nbsp;<a href="https://www.build-a-course.com/" target="_blank">Build-a-Course for online courses</a> 
                    &nbsp; <a href="https://www.biznizbooks.com/" target="_blank">Biznizbooks for e-books </a><br/>
                    Copyright &copy; KSA Training Ltd {{currentYear}}. </div>
            </div>
        </div>
    </div>
</footer>

<!-- Site Settings PopUp-->
<div class="modal" id="siteSettings" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header justify-content-center">
            <h5 class="modal-title text-center w-100 text-uppercase" id="exampleModalLabel">Settings</h5>
            <button type="button" class="btn-close-new" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body">
            <div class="sound-box mb-5">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                      <div class="sound-text d-flex">
                        <span class="sound-icon d-inline-block">
                          <img src="assets/images/sound-icon.png" width="100%" alt="logo 2">
                        </span>
                        <span class="text d-inline-block">Sound</span>
                      </div>
                    </div>
                    <div class="col-auto">
                      <label class="toggle-switch">
                        <input type="checkbox" id="checkkkd">
                        <div class="slider">
                            <div class="on-off-btn"></div>
                        </div>
                      </label>
                    </div>
                </div>
            </div>
            <div class="btn-grp text-center">
                <a href="#" class="d-inline-block btns btn-primary mb-2 w-100" data-bs-toggle="modal" data-bs-target="#PrivacyPolicy">
                    <span> Policy & Policy </span>
                </a>
                <a href="javascript:void(0)" class="d-inline-block btns btn-primary w-100" data-bs-toggle="modal" data-bs-target="#TermsConditions">
                    <span>Terms & Conditions</span>
                </a>
            </div>
        </div>
       
        </div>
    </div>
</div>
<!-- Site Settings PopUp-->

<!-- Privacy Policy PopUp -->
<div class="modal" id="PrivacyPolicy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header justify-content-center">
            <h5 class="modal-title text-center w-100 text-uppercase" id="exampleModalLabel">Privacy Policy</h5>
            <button type="button" class="btn-close-new" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body p-4">
            <div class="setting-content">
                <div class="setting-inner">
                    <ol>
                        <li class="ol-listing">
                            <h5>INTRODUCTION AND GENERAL TERMS</h5>
                            <ul>
                                <li>
                                    Lorem ipsum dolor sit amet, 
                                    consectetur adipiscing elit, sed do eiusmod tempor 
                                    incididunt ut labore et dolore magna aliqua. 
                                    Quis ipsum suspendisse ultrices gravida. 
                                    Risus commodo viverra maecenas accumsan 
                                    lacus vel facilisis. 
                                </li>
                                <li>
                                    Lorem ipsum dolor sit amet, 
                                    consectetur adipiscing elit, sed do eiusmod tempor 
                                    incididunt ut labore et dolore magna aliqua. 
                                    Quis ipsum suspendisse ultrices gravida. 
                                    Risus commodo viverra maecenas accumsan 
                                    lacus vel facilisis. 
                                </li>
                            </ul>
                        </li>
                        <li class="ol-listing">
                            <h5>Lorem ipsum</h5>
                            <ul>
                                <li>
                                    Lorem ipsum dolor sit amet, 
                                    consectetur adipiscing elit, sed do eiusmod tempor 
                                    incididunt ut labore et dolore magna aliqua. 
                                    Quis ipsum suspendisse ultrices gravida. 
                                    Risus commodo viverra maecenas accumsan 
                                    lacus vel facilisis. 
                                </li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>   
        </div>
       
        </div>
    </div>
</div>
<!-- Privacy Policy PopUp-->

<!-- Terms & Conditions PopUp -->
<div class="modal" id="TermsConditions" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header justify-content-center">
            <h5 class="modal-title text-center w-100 text-uppercase" id="exampleModalLabel">Terms & Conditions</h5>
            <button type="button" class="btn-close-new" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
        </div>
        <div class="modal-body p-4">
            <div class="setting-content">
                <div class="setting-inner">
                    <ol>
                        <li class="ol-listing">
                            <h5>INTRODUCTION AND GENERAL TERMS</h5>
                            <ul>
                                <li>
                                    Lorem ipsum dolor sit amet, 
                                    consectetur adipiscing elit, sed do eiusmod tempor 
                                    incididunt ut labore et dolore magna aliqua. 
                                    Quis ipsum suspendisse ultrices gravida. 
                                    Risus commodo viverra maecenas accumsan 
                                    lacus vel facilisis. 
                                </li>
                                <li>
                                    Lorem ipsum dolor sit amet, 
                                    consectetur adipiscing elit, sed do eiusmod tempor 
                                    incididunt ut labore et dolore magna aliqua. 
                                    Quis ipsum suspendisse ultrices gravida. 
                                    Risus commodo viverra maecenas accumsan 
                                    lacus vel facilisis. 
                                </li>
                            </ul>
                        </li>
                        <li class="ol-listing">
                            <h5>Lorem ipsum</h5>
                            <ul>
                                <li>
                                    Lorem ipsum dolor sit amet, 
                                    consectetur adipiscing elit, sed do eiusmod tempor 
                                    incididunt ut labore et dolore magna aliqua. 
                                    Quis ipsum suspendisse ultrices gravida. 
                                    Risus commodo viverra maecenas accumsan 
                                    lacus vel facilisis. 
                                </li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>   
        </div>
       
        </div>
    </div>
</div>
<!-- Terms & Conditions PopUp -->