<section class="books-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="books-heading">
                    <div class="bg-box">
                        <div class="bg-inner">
                            <h2 class="text-center m-0">BUILDING CONFIDENCE: EMPOWER YOUR LIFE</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xxl-3 col-xl-4 order-xl-1 order-2 mb-xl-0 mb-4">
                <div class="view-box bg-box left">
                    <div class="bg-inner view-inner">
                        <ul>
                            <li>
                                <div class="view-inner-box">
                                    <div class="btn-grp">
                                        <div class="btns btn-secondary">
                                            <span>
                                                <h4>Category:</h4>
                                                <h6>Assertiveness</h6>
                                            </span> 
                                       </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="view-inner-box">
                                    <div class="btn-grp">
                                        <div class="btns btn-secondary">
                                            <span>
                                                <h4>Topic:</h4>
                                                <h6>Confidence-Building</h6>
                                            </span> 
                                       </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="view-inner-box">
                                    <div class="btn-grp">
                                        <div class="btns btn-secondary">
                                            <span>
                                                <h4>Number of slides:</h4>
                                                <h6>177</h6>
                                            </span> 
                                       </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="view-inner-box">
                                    <div class="btn-grp">
                                        <div class="btns btn-secondary">
                                            <span>
                                                <h4>Author</h4>
                                                <h6>Barrie Davenport</h6>
                                            </span> 
                                       </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="view-inner-box">
                                    <div class="btn-grp">
                                        <div class="btns btn-secondary">
                                            <span>
                                                <h4>Description</h4>
                                                <ng-template #tipContent>This e-book will 
                                                    get you motivated, overcome 
                                                    social fear, be assertive, and 
                                                    empower your life.</ng-template>
                                                <p class="des-text m-0" [ngbTooltip]="tipContent">This e-book will 
                                                    get you motivated, overcome 
                                                    social fear, be assertive, and 
                                                    empower your life.</p>
                                            </span> 
                                       </div>
                                    </div>
                                </div>
                            </li>
                           
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xxl-5 col-xl-4 order-1 order-xl-2 mb-xl-0 mb-4 mx-xxl-auto">
               
            </div>
            <div class="col-xxl-3 col-xl-4 order-xl-3 order-2">
                <div class="view-box bg-box right">
                    <div class="view-inner bg-inner">
                        <ul>
                            <li>
                                <div class="view-inner-box">
                                    <div class="btn-grp">
                                        <a href="" class="btns btn-secondary">
                                            <span>
                                                <img src="../../assets/images/dow_icon.png" alt="" />
                                                <h3>Download this book</h3>
                                            </span> 
                                       </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="view-inner-box">
                                    <div class="btn-grp">
                                        <a href="" class="btns btn-secondary">
                                            <span>
                                                <img src="../../assets/images/view_icon.png" alt="" />
                                                <h3>View all books
                                                    In this topic</h3>
                                            </span> 
                                       </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="view-inner-box">
                                    <div class="btn-grp">
                                        <a href="" class="btns btn-secondary">
                                            <span>
                                                <img src="../../assets/images/copy_icon.png" alt="" />
                                                <h3>Copy embed code</h3>
                                            </span> 
                                       </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="view-inner-box">
                                    <div class="btn-grp">
                                        <a href="" class="btns btn-secondary">
                                            <span>
                                                <img src="../../assets/images/disclaimer.png" alt="" />
                                                <h3>Disclaimer</h3>
                                            </span> 
                                       </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="view-inner-box">
                                    <div class="btn-grp">
                                        <a href="" class="btns btn-secondary">
                                            <span>
                                                <img src="../../assets/images/share-icon.png" alt="" />
                                                <h3>Share this<br>
                                                    E-Book</h3>
                                            </span> 
                                       </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12">
               
            </div>
        </div>
    </div>
</section>