@import url(https://use.fontawesome.com/releases/v5.15.4/css/all.css);
@import url(assets/fonts/fonts.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* Variables */
/* Variables */
body {
  font-family: "Poppins", sans-serif;
  background: #a953db;
  background: radial-gradient(circle, #a953db 0%, #712dbe 97%);
  background-repeat: repeat-y;
  background-size: 100% auto;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

body app-root {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body app-root main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 5px solid #631bab;
  border-left: 0;
  border-right: 0;
}

select:focus,
textarea:focus,
input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.btn-grp .btns {
  background-repeat: no-repeat;
  background-size: 100% 70px;
  padding: 4px 0;
  color: #fff;
  text-shadow: 0px 3px #0f8aff;
  position: relative;
  border: 3px solid #4d1290;
  border-radius: 15px;
  display: block;
}

.btn-grp .btns span {
  font-size: 24px;
  font-weight: 700;
  padding: 10px 18px;
  line-height: 30px;
  display: block;
  border-radius: 15px;
}

.btn-grp .btns::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 3px;
  width: 10px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  opacity: .8;
}

.btn-grp .btn-primary {
  background: #20f7fc;
  background: -webkit-gradient(linear, left top, left bottom, from(#20f7fc), to(#0f8aff));
  background: linear-gradient(180deg, #20f7fc 0%, #0f8aff 100%);
}

.btn-grp .btn-primary span {
  background: #31d4fd;
  background: -webkit-gradient(linear, left top, left bottom, from(#31d4fd), to(#2eb9fe));
  background: linear-gradient(180deg, #31d4fd 0%, #2eb9fe 100%);
}

.btn-grp .btn-secondary {
  text-shadow: 0px 3px #4d1290;
  background: #d889fc;
  background: -webkit-gradient(linear, left top, left bottom, from(#d889fc), to(#8d38c9));
  background: linear-gradient(180deg, #d889fc 0%, #8d38c9 100%);
}

.btn-grp .btn-secondary span {
  background: #c260f3;
  background: -webkit-gradient(linear, left top, left bottom, from(#c260f3), to(#a551df));
  background: linear-gradient(180deg, #c260f3 0%, #a551df 100%);
}

header {
  background: #601dae;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #601dae), to(#6d25b9));
  background: linear-gradient(180deg, #601dae 15%, #6d25b9 100%);
  padding: 20px 0;
  border-bottom: 5px solid #7e2ec5;
}

header .top-logo img {
  height: 70px;
}

header .header-categories {
  width: 386px;
}

header .header-categories form.search-in input {
  padding: 0px 20px 2px;
  font-size: 18px;
  border: 2px solid #722cbc;
  background: #4d1290;
  border-radius: 50px 0 0 50px;
  color: #fff;
  font-weight: 500;
  height: 50px;
  -webkit-box-shadow: inset 0 0 4px #0006;
          box-shadow: inset 0 0 4px #0006;
  width: 100%;
  line-height: 44px;
}

header .header-categories form.search-in input::-webkit-input-placeholder {
  color: #fff;
}

header .header-categories form.search-in input:-ms-input-placeholder {
  color: #fff;
}

header .header-categories form.search-in input::-ms-input-placeholder {
  color: #fff;
}

header .header-categories form.search-in input::placeholder {
  color: #fff;
}

header .header-categories button {
  padding: 5px;
  background: #bf60f0;
  color: #fff;
  font-size: 24px;
  border-left: none;
  cursor: pointer;
  border-radius: 0 50px 50px 0;
  height: 50px;
  border: 2px solid #722cbc;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-left: 0;
  width: 57px;
}

header .header-search {
  min-width: 220px;
}

header .header-search a {
  padding: 0 10px;
  font-size: 18px;
  text-decoration: none;
  border: 2px solid #722cbc;
  background: #4d1290;
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
  height: 50px;
  -webkit-box-shadow: inset 0 0 4px #0006;
          box-shadow: inset 0 0 4px #0006;
  width: 100%;
  text-align: center;
  line-height: 44px;
}

header .user-box .user-icon {
  background: #bf60f0;
  height: 62px;
  width: 62px;
  text-align: center;
  line-height: 56px;
  border-radius: 50%;
  border: 3px solid #4d1290;
  position: relative;
  z-index: 1;
}

header .user-box .user-icon img {
  width: 24px;
}

header .user-box .user-name {
  border: 2px solid #722cbc;
  background: #4d1290;
  width: 220px;
  padding-right: 10px;
  line-height: 44px;
  height: 50px;
  color: #fff;
  padding-left: 70px;
  font-size: 18px;
  border-radius: 50px;
  margin-left: -60px;
  position: relative;
  z-index: 0;
  top: 6px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}

header .btn-logout {
  width: 50px;
  height: 50px;
  background: #2fc1fe;
  border-radius: 25px;
  border: 2px solid #4d1290;
  color: #fff;
  -webkit-box-shadow: inset 0 0 2px #4d1290;
          box-shadow: inset 0 0 2px #4d1290;
  text-align: center;
  display: block;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
}

header .btn-logout img {
  width: 20px;
}

footer {
  background: #601dae;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #601dae), to(#6d25b9));
  background: linear-gradient(180deg, #601dae 15%, #6d25b9 100%);
  border-top: 5px solid #7e2ec5;
  padding: 12px 0;
}

footer .footer-inner-text {
  text-align: center;
  color: #fff;
  line-height: 40px;
}

footer .footer-inner-text a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 0 3px;
}

footer .footer-inner-text a:hover {
  color: #bf60f0;
}

.section-padding {
  padding: 42px 0;
}

.home-content p {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #fff;
  margin: 24px 0;
}

.table-content {
  background: #fa7403;
  border-radius: 24px;
  padding-bottom: 8px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.4) 0px 13px 27px -5px, rgba(0, 0, 0, 0.4) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.4) 0px 13px 27px -5px, rgba(0, 0, 0, 0.4) 0px 8px 16px -8px;
}

.table-content .table-inner {
  background-color: #fdc300;
  padding: 12px 12px 24px;
  border-radius: 24px;
}

.table-content .table-inner .table-heading {
  padding: 0 12px 12px;
}

.table-content .table-inner .table-heading h3 {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.table-content .table-inner .main-content {
  border: 4px solid #5f229b;
  border-radius: 24px;
  background-color: #7c30c6;
  overflow: hidden;
}

.table-content .table-inner .main-content ol {
  padding: 0;
  margin: 0;
}

.table-content .table-inner .main-content ol li {
  color: #fff;
  padding: 12px 22px;
  font-size: 18px;
  list-style: none;
  -webkit-animation: bounceInLeft 1s ease-in-out;
          animation: bounceInLeft 1s ease-in-out;
}

.table-content .table-inner .main-content ol li:nth-child(even) {
  background: #671eb0;
  -webkit-animation: bounceInRight 1s ease-in-out;
          animation: bounceInRight 1s ease-in-out;
}

.table-content .table-inner .main-content ol li span {
  display: inline-block;
  min-width: 32px;
  padding-right: 12px;
}

.modal .modal-dialog {
  max-width: 460px;
}

.modal .modal-content {
  background: #a953db;
  background: radial-gradient(circle, #a953db 0%, #712dbe 97%);
  border-radius: 24px;
  overflow: hidden;
  border: none;
}

.modal .modal-content .modal-body {
  padding: 42px;
}

.modal .modal-content .modal-title {
  font-weight: 700;
  font-size: 35px;
  padding: 0;
  color: #fff;
  line-height: 40px;
  text-shadow: 2px 2px 4px #541599;
}

.modal .modal-header,
.modal .modal-footer {
  border: none;
}

.modal .modal-header {
  background: #601dae;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #601dae), to(#6d25b9));
  background: linear-gradient(180deg, #601dae 15%, #6d25b9 100%);
  padding: 5px 16px;
}

.modal .btn-close-new {
  color: #c68cff;
  background: transparent;
  border: none;
  font-size: 37px;
  font-weight: 100;
}

.modal .setting-content .setting-inner {
  max-height: 400px;
  overflow: auto;
  padding-right: 6px;
}

.modal .setting-content .setting-inner ol {
  padding-left: 28px;
}

.modal .setting-content .setting-inner ol h5 {
  color: #fff;
  font-weight: 600;
  font-size: 26px;
  text-transform: uppercase;
}

.modal .setting-content .setting-inner ol .ol-listing::after {
  background: #4d1290;
  height: 5px;
  border-radius: 50px;
  width: calc(100% + 28px);
  content: '';
  display: block;
  left: -28px;
  position: relative;
  margin: 18px 0 12px;
}

.modal .setting-content .setting-inner ol .ol-listing:nth-last-child(1)::after {
  display: none;
}

.modal .setting-content .setting-inner ol li {
  position: relative;
}

.modal .setting-content .setting-inner ol li::marker {
  color: #fff;
  font-weight: 600;
  font-size: 26px;
}

.modal .setting-content .setting-inner ol li ul {
  padding-left: 20px;
}

.modal .setting-content .setting-inner ol li ul li {
  list-style: none;
  position: relative;
  color: #fff;
  margin: 10px 0;
}

.modal .setting-content .setting-inner ol li ul li::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 7px;
  left: -20px;
  border-radius: 50%;
  background: #fdc300;
}

.modal .setting-content .setting-inner::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

.modal .setting-content .setting-inner::-webkit-scrollbar-track {
  background: #4d1290;
  margin-top: 6px;
  position: relative;
  right: 5px;
  border-radius: 5px;
}

.modal .setting-content .setting-inner::-webkit-scrollbar-thumb {
  background-color: #fdc300;
  border-radius: 20px;
  border: 0px solid #097575;
  border-radius: 5px;
}

.modal .books-view-modals .modal-header-view h5 {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #4d1290;
  -webkit-text-fill-color: #fff;
  text-shadow: none;
  font-weight: 900;
  line-height: 30px;
}

.modal .books-view-modals .btn-grp .btns span {
  padding-left: 24px;
  padding-right: 24px;
}

.modal .books-view-modals .modal-body .p {
  margin: 28px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.modal .ineer-guest-popup input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 30px;
  border: 2px solid #4d1290;
  margin: 15px 0;
  text-align: center;
}

.modal .ineer-guest-popup .errors-1 {
  color: #f35736;
  margin-bottom: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}

.sound-box .sound-icon img {
  width: 55px;
  margin-right: 15px;
}

.sound-box .text {
  font-weight: 700;
  font-size: 28px;
  line-height: 51px;
  color: #fff;
}

.toggle-switch {
  height: 50px;
  width: 150px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.toggle-switch input {
  display: none;
}

.toggle-switch input:checked + .slider::after {
  -webkit-transform: translateX(90px);
          transform: translateX(90px);
}

.toggle-switch .slider {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #4d1290;
  -webkit-box-shadow: inset 0 0 4px #0006;
          box-shadow: inset 0 0 4px #0006;
  -webkit-transition: .2s;
  transition: .2s;
  width: 100%;
  border-radius: 50px;
}

.toggle-switch .slider::after {
  position: absolute;
  content: '';
  height: 60px;
  width: 60px;
  background-color: #eee;
  left: 0;
  bottom: -5px;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 -7px 16px 5px #0003;
          box-shadow: inset 0 -7px 16px 5px #0003;
}

.toggle-switch input:checked + .slider .on-off-btn::before {
  content: "ON";
  right: 70px;
  -webkit-transition: .5s;
  transition: .5s;
}

.toggle-switch .on-off-btn::before {
  position: absolute;
  top: 0;
  content: "OFF";
  right: 28px;
  -webkit-transition: .5s;
  transition: .5s;
  bottom: 0;
  font-size: 24px;
  color: #bf60f0;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 1px;
}

.sort-box select,
.view-all a {
  padding: 0 18px;
  font-size: 18px;
  text-decoration: none;
  border: 2px solid #722cbc;
  background: #4d1290;
  border-radius: 50px;
  color: #fff !important;
  font-weight: 500;
  height: 50px;
  -webkit-box-shadow: inset 0 0 4px #0006;
          box-shadow: inset 0 0 4px #0006;
  width: 100%;
  text-align: center;
  line-height: 46px;
  -webkit-appearance: none;
  display: inline-block;
  cursor: pointer;
}

.listing-heading {
  font-size: 24px;
  color: #fff;
}

owl-carousel-o .owl-nav .owl-next,
owl-carousel-o .owl-nav .owl-prev {
  background: transparent !important;
  position: absolute;
  top: calc(50% - 30px);
  margin: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 !important;
  padding: 0 !important;
}

owl-carousel-o .owl-nav .owl-next img,
owl-carousel-o .owl-nav .owl-prev img {
  width: 30px !important;
}

owl-carousel-o .owl-nav .owl-next span,
owl-carousel-o .owl-nav .owl-prev span {
  display: block;
}

owl-carousel-o .owl-nav .owl-next {
  right: -50px;
}

owl-carousel-o .owl-nav .owl-prev {
  left: -50px;
}

.book-list img {
  width: 100%;
  border: 3px solid #fff;
  aspect-ratio: 1/1.2;
  -o-object-fit: cover;
     object-fit: cover;
}

.book-list .book-content {
  padding-top: 6px;
}

.book-list .book-content .book-title {
  font-weight: 500;
  font-size: 18px;
  white-space: nowrap;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
  margin-bottom: 4px;
}

.book-list .book-content .books-downloads,
.book-list .book-content .book-pages {
  font-weight: 400;
  color: #31d4fd;
  font-size: 15px;
}

.category-box {
  padding-bottom: 6px;
  border-radius: 18px;
  margin-bottom: 32px;
}

.category-box .category-inner {
  padding: 20px 24px;
  border-radius: 18px;
}

.category-box .category-inner ul {
  padding-left: 0;
  margin-bottom: 0;
}

.category-box .category-inner ul li {
  list-style: none;
}

.category-box .category-inner ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}

.category-box .category-inner ul li:nth-child(34) a, .category-box .category-inner ul li:nth-child(33) a, .category-box .category-inner ul li:nth-child(32) a, .category-box .category-inner ul li:nth-child(30) a, .category-box .category-inner ul li:nth-child(27) a, .category-box .category-inner ul li:nth-child(24) a, .category-box .category-inner ul li:nth-child(22) a, .category-box .category-inner ul li:nth-child(19) a, .category-box .category-inner ul li:nth-child(17) a, .category-box .category-inner ul li:nth-child(16) a, .category-box .category-inner ul li:nth-child(14) a, .category-box .category-inner ul li:nth-child(11) a, .category-box .category-inner ul li:nth-child(9) a, .category-box .category-inner ul li:nth-child(8) a, .category-box .category-inner ul li:nth-child(6) a, .category-box .category-inner ul li:nth-child(3) a, .category-box .category-inner ul li:nth-child(1) a {
  color: #bf60f0;
}

.category-section .table-content .table-inner .main-content {
  padding-right: 3px;
}

.category-section .table-content .table-inner .main-content .main-content-inner {
  max-height: 255px;
  overflow: auto;
}

.category-section .table-content .table-inner .main-content .main-content-inner::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

.category-section .table-content .table-inner .main-content .main-content-inner::-webkit-scrollbar-track {
  background: #4d1290;
  margin-top: 6px;
  position: relative;
  right: 5px;
  border-radius: 5px;
}

.category-section .table-content .table-inner .main-content .main-content-inner::-webkit-scrollbar-thumb {
  background-color: #fdc300;
  border-radius: 20px;
  border: 0px solid #097575;
  border-radius: 5px;
}

.category-section .category-heading h2 {
  text-align: center;
  background: #4d1290;
  border-radius: 25px 25px 0 0;
  padding: 10px 32px 8px;
  border: 2px solid #722cbc;
  display: inline-block;
  margin: auto;
  font-size: 18px;
  border-bottom: 0;
  color: #fff;
}

#BooksThumbnails .animated {
  -webkit-animation-duration: .2s !important;
          animation-duration: .2s !important;
}

.books-heading {
  margin-bottom: 24px;
}

.books-heading h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 0;
  color: #fff;
  text-shadow: 1px 2px #000;
  text-transform: capitalize;
}

.books-heading .category-box {
  border-radius: 12px;
}

.books-heading .category-inner {
  padding: 12px 15px;
  border-radius: 12px;
}

.view-box {
  border-radius: 18px;
}

.view-box .view-inner {
  padding: 15px 20px;
}

.view-box .view-inner .btn-grp .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-box .view-inner .btn-grp .btns span {
  width: 100%;
  min-height: 72px;
}

.view-box .view-inner ul {
  padding: 0;
  margin: 0;
}

.view-box .view-inner ul li {
  margin-bottom: 15px;
  list-style: none;
  min-height: 66px;
}

.view-box .view-inner ul li h6.topic-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.view-box .view-inner ul li h4 {
  font-size: 20px;
  color: #fff;
  text-shadow: none;
  font-weight: 500;
}

.view-box .view-inner ul li h6 {
  color: #e5beff;
  text-shadow: none;
  font-size: 16px;
  margin: 0;
  font-weight: 600;
}

.view-box .view-inner ul li .des-text {
  color: #e5beff;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-shadow: none;
  line-height: 16px;
  font-weight: 500;
}

.view-box .view-inner ul li:nth-last-child(1) {
  margin-bottom: 0;
}

.view-box.right .view-inner-box button,
.view-box.right .view-inner-box a {
  width: 100%;
}

.view-box.right .view-inner-box button span,
.view-box.right .view-inner-box a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-box.right .view-inner-box button span img,
.view-box.right .view-inner-box a span img {
  width: 40px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.view-box.right .view-inner-box button span h3,
.view-box.right .view-inner-box a span h3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  padding-left: 6px;
  font-size: 20px;
  text-transform: capitalize;
  line-height: 26px;
  font-weight: 600;
  position: relative;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 0;
  text-shadow: none;
}

.view-box .tooltip .tooltip-inner {
  background-color: #4d1290;
  color: #fff;
  font-size: 14px;
}

.view-box .tooltip {
  opacity: 1 !important;
}

.view-box .bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #4d1290 !important;
}

.bg-box {
  background-color: #551397;
  padding-bottom: 6px;
  border-radius: 18px;
  position: relative;
}

.bg-box .bg-inner {
  background: #4d1290;
  background: -webkit-gradient(linear, left top, left bottom, from(#8126cc), to(#631fb0));
  background: linear-gradient(180deg, #8126cc 0%, #631fb0 100%);
  padding: 15px 20px;
  border-radius: 18px;
  position: relative;
  z-index: 1;
}

.bg-box .bg-inner::after {
  margin: auto;
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 5px);
  content: '';
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #7726c1;
  background: -webkit-gradient(linear, left top, left bottom, from(#7726c1), to(#631fb0));
  background: linear-gradient(180deg, #7726c1 0%, #631fb0 100%);
  border-radius: 18px;
  right: 0;
}

.view-all-section .book-list {
  margin-bottom: 30px;
}

.category-listing-section .category-heading h2 {
  margin: 0 0 26px;
  position: relative;
  padding-bottom: 15px;
  color: #fff;
}

.category-listing-section .category-heading h2::after {
  position: absolute;
  bottom: 0;
  content: "";
  left: 0;
  width: 100%;
  height: 4px;
  display: block;
  z-index: 4;
  background: #4d1290;
  border-radius: 0 50px 50px 0;
}

.category-listing-section .category-lists .category-lists-item {
  list-style: none;
  position: relative;
}

.category-listing-section .category-lists .category-lists-item:nth-last-child(1) .border-bottom {
  padding-bottom: 0;
  margin-bottom: 0;
}

.category-listing-section .category-lists .category-lists-item:nth-last-child(1) .border-bottom::after {
  display: none;
}

.category-listing-section .category-lists .category-lists-item .border-bottom {
  position: relative;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border: none !important;
}

.category-listing-section .category-lists .category-lists-item .border-bottom::after {
  position: absolute;
  bottom: 0;
  width: 100%;
  content: "";
  left: 0;
  border-top: 2px solid #4d1290;
  margin: auto;
  right: 0;
}

.category-listing-section .category-lists .category-lists-item:nth-last-child(1) {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.category-listing-section .category-lists .category-lists-item:nth-last-child(1)::after {
  display: none;
}

.book-listing-section .owl-carousel.owl-drag .owl-item,
.category-listing-section .owl-carousel.owl-drag .owl-item {
  max-width: 308.5px;
}

@media screen and (max-width: 1400px) {
  .book-listing-section .owl-carousel.owl-drag .owl-item,
  .category-listing-section .owl-carousel.owl-drag .owl-item {
    max-width: 358px;
  }
}

@media screen and (max-width: 1200px) {
  .book-listing-section .owl-carousel.owl-drag .owl-item,
  .category-listing-section .owl-carousel.owl-drag .owl-item {
    max-width: 298px;
  }
}

@media screen and (max-width: 992px) {
  .book-listing-section .owl-carousel.owl-drag .owl-item,
  .category-listing-section .owl-carousel.owl-drag .owl-item {
    max-width: 337px;
  }
}

@media screen and (max-width: 767px) {
  .book-listing-section .owl-carousel.owl-drag .owl-item,
  .category-listing-section .owl-carousel.owl-drag .owl-item {
    max-width: 247px;
  }
}

@media screen and (max-width: 575px) {
  .book-listing-section .owl-carousel.owl-drag .owl-item,
  .category-listing-section .owl-carousel.owl-drag .owl-item {
    max-width: auto;
  }
}

.books-section .owl-carousel.owl-drag .owl-item {
  max-width: 144.25px;
}

.books-section .owl-carousel {
  width: calc(100% - 80px);
  margin: auto;
}

.books-section .owl-carousel .owl-nav .owl-next,
.books-section .owl-carousel .owl-nav .owl-prev {
  top: 50%;
}

.books-section .owl-carousel .owl-next {
  right: -40px;
}

.books-section .owl-carousel .owl-prev {
  left: -40px;
}

.social-media-login a {
  font-size: 18px;
  text-decoration: none;
  border: 2px solid #EA4335;
  background: #BB001B;
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
  height: 50px;
  -webkit-box-shadow: inset 0 0 4px #0006;
          box-shadow: inset 0 0 4px #0006;
  width: 50px;
  text-align: center;
  line-height: 46px;
  display: block;
}

@media screen and (max-width: 1400px) {
  header .top-logo img {
    height: auto;
    width: 100%;
  }
  header .header-categories {
    width: 100%;
  }
  footer .footer-inner-text {
    font-size: 14px;
    line-height: 36px;
  }
}

@media screen and (max-width: 1200px) {
  header .top-logo img {
    max-height: 70px;
    width: auto;
    margin-bottom: 24px;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: left;
       object-position: left;
  }
  header .header-categories {
    width: 100%;
  }
  header .user-box .user-name {
    width: 290px;
  }
  .table-content .table-inner .main-content ol li {
    padding: 8px 22px;
    font-size: 16px;
  }
  .table-content .table-inner .table-heading h3 {
    font-size: 18px;
  }
  .home-content p {
    font-size: 20px;
  }
  .category-box .category-inner ul li:nth-child(odd) a {
    color: #bf60f0 !important;
  }
  .category-box .category-inner ul li a {
    color: #fff !important;
  }
  .sort-box select {
    padding: 0 2px !important;
  }
  .sort-box select, .view-all a {
    padding: 0 12px;
    font-size: 16px;
    height: 48px;
    line-height: 46px;
  }
  .sort-box select option {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .books-heading h2 {
    font-size: 24px;
  }
  header .user-box .user-name {
    width: 270px;
  }
  footer .footer-inner-text {
    line-height: 30px;
  }
  .category-box .category-inner ul li:nth-child(odd) a {
    color: #fff !important;
  }
  .category-box .category-inner ul li:nth-child(28) a,
  .category-box .category-inner ul li:nth-child(24) a,
  .category-box .category-inner ul li:nth-child(24) a,
  .category-box .category-inner ul li:nth-child(25) a,
  .category-box .category-inner ul li:nth-child(21) a,
  .category-box .category-inner ul li:nth-child(20) a,
  .category-box .category-inner ul li:nth-child(17) a,
  .category-box .category-inner ul li:nth-child(16) a,
  .category-box .category-inner ul li:nth-child(13) a,
  .category-box .category-inner ul li:nth-child(12) a,
  .category-box .category-inner ul li:nth-child(9) a,
  .category-box .category-inner ul li:nth-child(8) a,
  .category-box .category-inner ul li:nth-child(5) a,
  .category-box .category-inner ul li:nth-child(4) a,
  .category-box .category-inner ul li:nth-child(1) a {
    color: #bf60f0 !important;
  }
}

@media screen and (max-width: 767px) {
  footer .footer-inner-text {
    line-height: 24px;
  }
  header .user-box .user-name {
    width: 424px;
  }
  .books-heading h2 {
    font-size: 20px;
  }
}

.books-thumbnail-carousel .owl-item {
  width: 112.4px !important;
}

@media screen and (max-width: 1400px) {
  .books-thumbnail-carousel .owl-item {
    width: 120px !important;
  }
}

@media screen and (max-width: 1200px) {
  .books-thumbnail-carousel .owl-item {
    width: 162px !important;
  }
}

@media screen and (max-width: 992px) {
  .books-thumbnail-carousel .owl-item {
    width: 114px !important;
  }
}

@media screen and (max-width: 767px) {
  .books-thumbnail-carousel .owl-item {
    width: 138px !important;
  }
}

@media screen and (max-width: 575px) {
  .books-thumbnail-carousel .owl-item {
    width: 191px !important;
  }
}

.top-cat {
  color: #fff;
}
/*# sourceMappingURL=styles.css.map */