<section class="category-section section-padding">
    <div class="container">
        <div class="category-heading text-center">
            <h2>Categories</h2>
        </div>
       <div class="category-box bg-box">
        <div class="category-inner bg-inner">
            <ul class="row" >
                <li class="col-xl-3 col-lg-4 col-6" *ngFor="let category of categoriesAllData.categories;let i = index">
                    <div class="" (click)="showTopic(i)" >
                    <a href="" routerLink="/category-listing/{{category.id}}">{{category.name | titlecase}} ({{category.total_biznizbooks}})</a>
                </div>
                </li>
            </ul>
        </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="home-content text-center">
                    <div class="home-logo">
                        <img src="assets/images/home-logo.png" class="w-100" alt="Home Logo" />
                    </div>
                    <p>
                        “{{categoriesAllData?.info?.subTitle}}”
                    </p>
                   
                </div>
            </div>
            <div class="col-lg-6">
                <div class="table-content">
                    <div class="table-inner">
                        <div class="table-heading text-center">
                            <h3>
                                {{categoriesAllData?.info?.content}}
                            </h3>
                        </div>
                        <div class="main-content">
                           <div class="main-content-inner">
                            <ol class="text-center">
                                <li>60 E-Manuals and Workbooks</li>
                                <li>191 One-Day Course Plans</li>
                                <li>255 Infographics</li>
                                <li>201 Course Handouts</li>
                                <li>198 Articles and Blogs</li>
                                <li>88 Management Bestsellers</li>
                                <li>98 Personal Development Bestsellers</li>
                                <li>105 Communication Bestsellers</li>
                                <li>97 Leadership Bestsellers</li>
                                <li>108 Self-Help Classics</li>
                                <li>... and many more</li>
                            </ol>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>