<section class="category-section section-padding">
    <div class="container">
       <div class="category-box">
        <div class="category-inner">
            <ul class="row">
                <li class="col-xl-3 col-lg-4 col-6">
                    <a href="">Assertiveness (13)</a>
                </li>
                <li class="col-xl-3 col-lg-4 col-6">
                    <a href="">Communication Skills (2)</a>
                </li>
                <li class="col-xl-3 col-lg-4 col-6">
                    <a href="">Customer Care (1)</a>
                </li>
                <li class="col-xl-3 col-lg-4 col-6">
                    <a href="">Effective Discipline (1)</a>
                </li>
                <li class="col-xl-3 col-lg-4 col-6">
                    <a href="">Assertiveness (13)</a>
                </li>
                <li class="col-xl-3 col-lg-4 col-6">
                    <a href="">Communication Skills (2)</a>
                </li>
                <li class="col-xl-3 col-lg-4 col-6">
                    <a href="">Customer Care (1)</a>
                </li>
                <li class="col-xl-3 col-lg-4 col-6">
                    <a href="">Effective Discipline (1)</a>
                </li>
                <li class="col-xl-3 col-lg-4 col-6">
                    <a href="">Assertiveness (13)</a>
                </li>
                <li class="col-xl-3 col-lg-4 col-6">
                    <a href="">Communication Skills (2)</a>
                </li>
                <li class="col-xl-3 col-lg-4 col-6">
                    <a href="">Customer Care (1)</a>
                </li>
                <li class="col-xl-3 col-lg-4 col-6">
                    <a href="">Effective Discipline (1)</a>
                </li>
                <li class="col-xl-3 col-lg-4 col-6">
                    <a href="">Assertiveness (13)</a>
                </li>
                <li class="col-xl-3 col-lg-4 col-6">
                    <a href="">Communication Skills (2)</a>
                </li>
                <li class="col-xl-3 col-lg-4 col-6">
                    <a href="">Customer Care (1)</a>
                </li>
                <li class="col-xl-3 col-lg-4 col-6">
                    <a href="">Effective Discipline (1)</a>
                </li>

                
            </ul>
        </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="home-content text-center">
                    <div class="home-logo">
                        <img src="../assets/images/home-logo.png" class="w-100" alt="Home Logo" />
                    </div>
                    <p>
                        “You are just seconds away from downloading your
                        free choice of e-books for all your soft skills learning 
                        and training.”
                    </p>
                    <div class="row justify-content-center">
                        <div class="col-xl-8">
                            <div class="btn-grp">
                                <a href="#" routerLink="/book-listings" class="d-block btns btn-primary mb-2">
                                    <span>Our Top 20 E-Books</span>
                                </a>
                                <a href="javascript:void(0)" class="d-block btns btn-primary" data-bs-toggle="modal" data-bs-target="#siteSettings"> <span>Site Settings</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="table-content">
                    <div class="table-inner">
                        <div class="table-heading text-center">
                            <h3>
                                On BiznizBooks, you can download up to 10 free e-books each 
                                day covering a wide range of personal and management skills. 
                                Including...
                            </h3>
                        </div>
                        <div class="main-content">
                           <div class="main-content-inner">
                            <ol>
                                <li><span>1.</span>Flash-based Mini-Courses</li>
                                <li><span>2.</span>20 E-Manuals</li>
                                <li><span>3.</span>202 One-Day Course Plans</li>
                                <li><span>4.</span>20 Step-by-Step Topics</li>
                                <li><span>5.</span>203 Soft Skills Handouts</li>
                                <li><span>6.</span>255 Infographics</li>
                                <li><span>7.</span>433 Articles</li>
                                <li><span>8.</span>21 The Experts Teach Series</li>
                                <li><span>9.</span>500+ Management E-Books</li>
                                <li><span>10.</span>200+ Self-Improvement E-Books</li>
                            </ol>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>