<header>
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
        <div class="top-logo" id="logo">
          <a href="" routerLink="/"
            ><img src="assets/images/logo.png" alt="logo"
          /></a>
        </div>
      </div>

      <div
        class="col-xl-auto col-lg-6 col-md-12 mt-lg-0 mb-lg-0 mt-3 mb-4 ms-auto">
        <div class="header-categories bounceInLeft">
          <form class="search-in row g-0">
            <div class="col">
              <input
                type="text"
                placeholder="Search BiznizBooks for books"
                name="search"
                formControlName="searchKey"
              />
            </div>
            <div class="col-auto">
              <button type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-xl-auto col-lg-6 col-md-6 mb-md-0 mb-3">
        <div class="header-search">
          <a href="" routerLink="/categories" class="d-block w-100"> Categories </a>
        </div>
      </div>

      <div class="col-xl-auto col-lg-6 col-md-6">
        <div class="user-box">
          <div class="row g-0">
            <div class="col-auto">
              <div class="user-icon">
                <img
                  src="assets/images/user-icon.png"
                  width="50px"
                  alt="user icon"
                />
              </div>
            </div>
            <div class="col">
              <div class="user-name">userName</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal raund-modal"
    id="raunds-row-modals"
    data-bs-keyboard="false"
    data-bs-backdrop="static"
  >
    <div class="modal-dialog modal-dialog-centered" aria-hidden="true">
      <div class="modal-content">
        <img
          data-bs-dismiss="modal"
          style="display: none"
          class="btn-close popup-close"
          id="popup-close"
          src="assets/images/close-btn.png"
          width="40px"
          alt="close"
        />
        <div class="modal-body modal-inner-box">
          <div class="model-content">
            <h3>Guest user name</h3>
            <div class="ineer-popup-close-btn">
              <form>
                <div>
                  <input
                    class="popup-input"
                    formControlName="name"
                    placeholder="Enter your name here"
                  />
                  <div class="errors-1">Name is required.</div>
                  <div class="errors-1">Please enter atleast 3 characters.</div>
                  <div class="errors-1">Please enter valid name.</div>
                </div>
                <button class="btn btn-popup-box" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
