<header>
  <div class="container">
    <div class="row align-items-center justify-content-xxl-center justify-content-between">
      <div class="col-xxl-auto col-xl-2 col-lg-3 col-md-12  order-xl-1 order-1">
        <div class="top-logo " id="logo">
          <a href="" routerLink="/" (click)="onGoToPage2()" class="d-block text-lg-start text-center" ><img src="assets/images/logo.png" alt="logo"
          /></a>
        </div>
      </div>

      <div class="bounceInLeft animated col-xxl-auto col-xl-4 col-lg-12 col-md-12 order-xl-2 order-5 mt-xl-0 mt-4 ms-xxl-auto">
        <div class="header-categories ">
          <form class="search-in row g-0"  [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
            <div class="col">
              <input
                type="text"
                placeholder="Search BiznizBooks for books"
                name="search"
                formControlName="searchKey"
              />
            </div>
            <div class="col-auto">
              <button type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="bounceInLeft animated col-xl-auto col-lg-4 col-md-5 order-xl-3 order-2 mb-md-0 mb-3">
        <div class="header-search">
          <a href="" routerLink="/categories" (click)="onGoToPage2()" class="d-block w-100"> Categories </a>
        </div>
      </div>

      <div class="bounceInLeft animated col-xl-auto col-lg-4 col-md-5 col-10 order-xl-4 order-3">
        <div class="user-box"  id="userId">
          <div class="row g-0"  *ngIf="!showModelPopup">
            <div class="col-auto">
              <div class="user-icon">
                <img
                  src="assets/images/user-icon.png"
                  width="50px"
                  alt="user icon"
                />
              </div>
            </div>
            <div class="col">
              <div class="user-name">
                {{showGuestUserBooks}}
              </div>
            </div>
          </div>

          <div class="row g-0" *ngIf="showModelPopup" data-bs-toggle="modal" data-bs-target="raunds-row-modals">
            <div class="col-auto">
              <div class="user-icon">
                <img
                  src="assets/images/user-icon.png"
                  width="50px"
                  alt="user icon"
                />
              </div>
            </div>
            <div class="col">
              <div class="user-name">
                {{showGuestUserBooks}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-auto order-xl-4 order-3 bounceInLeft animated">
        <div *ngIf="socialTokenBook">
          <button type="button" (click)="signOut()" class=" btn-logout">
            <img src="assets/images/logout.png" alt="">
          </button>
        </div> 

      </div>
    </div>
  </div>


  <div class="modal raund-modal" id="raunds-row-modals" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" aria-hidden="true">
      <div class="modal-content">
        <img
          data-bs-dismiss="modal"
          style="display: none"
          class="btn-close popup-close"
          id="popup-close"
          src="assets/images/close-btn.png"
          (click)="hidePopup()"
          width="40px"
          alt="close"
        />
        <div class="modal-body p-4">
          <div class="model-content">
            <div class="modal-header-view">
            <h5 class="modal-title text-center">Guest user name</h5>
          </div>
            <div class="ineer-guest-popup">
              <form [formGroup]="myForm" (ngSubmit)="userFormSubmit(myForm)">
                <div>
                  <input
                    class="popup-input"
                    formControlName="name"
                    placeholder="Enter your name here"
                  />
                  <div class="errors-1" 
                  *ngIf="(myFormControl['name'].touched || submitted) && myFormControl['name'].errors && myFormControl['name'].errors['required']">Name is required.</div>
                  <div class="errors-1" 
                  *ngIf="(myFormControl['name'].touched || submitted) && myFormControl['name'].errors && myFormControl['name'].errors['minlength']">Please enter atleast 3 characters.</div>
                  <div class="errors-1"
                  *ngIf="(myFormControl['name'].touched || submitted) && myFormControl['name'].errors && myFormControl['name'].errors['pattern']">Please enter valid name.</div>
                </div>
                <div class="btn-grp text-center">
                  <button class="d-inline-block btns btn-secondary" type="submit">
                    <span>Submit</span>
                  </button>
                </div>
               
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
